@import '../mixins.scss';

.ql-student-list-item {
  padding-top: 4px;
  padding-bottom: 4px;

  .ql-profile-image {
    width: 35px;
    height: 35px;
  }

  .student-details {
    margin-left: 14px;
    display: inline-block;
    
    &:hover {
      cursor: pointer;
    }

    .student-name {
      font-weight: bold;
      display: block;
    }

    .student-email {
      display: block;
    }

    .student-tag {
      display: inline-block;
      border-radius: 20px;
      border-width: 0px;
      text-align: center;
      width: fit-content;
      font-size: 80%;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .tag-silver {
      background-color: #eeeeee;
    }

    .tag-gold {
      background-color: #ffe8a9;
    }
  }

  .btn-group.dropdown {
    margin-top: 0px!important;
  }

  .ql-small-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
  }

}
